@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 100;
}
:root {
  --main-bg-color: #ffffff;
  --button-bg-color: #4285f4;
  --button-bg-color-disabled: #6c757d;
  font-size: min(calc(10px + 0.5vw), 24px);
}

.disabled {
  display: none !important ;
}

input {
  font-size: 1.5rem;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-auto-rows: 100px auto;
}

.header {
  font-size: 5rem;
  text-align: center;
}

.game {
  display: grid;
  grid-template-areas:
    "p1settings gameboard p2settings"
    "buttons buttons buttons";
  grid-template-rows: 60vh auto;
  justify-self: center;
  align-items: center;
  gap: 3rem;
}

.player-one-settings,
.player-two-settings {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.player-one-settings {
  grid-area: p1settings;
}

.player-two-settings {
  grid-area: p2settings;
}

.buttons button,
.player-select button {
  border: none;
  flex: 1;
  height: 4rem;
  font-size: 1.2rem;
  padding: 0.6rem;
  transition: flex-grow 0.5s;
  background-color: var(--button-bg-color-disabled);
  color: var(--main-bg-color);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.buttons button {
  background-color: var(--button-bg-color);
  border-radius: 15px;
  flex: 1;
  max-width: 10rem;
  cursor: pointer;
}

.player-select button:nth-child(2) {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.player-select button:nth-child(1) {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.player-select button:disabled {
  flex: 5;
  background-color: var(--button-bg-color);
  cursor: auto;
}

.buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.gameboard {
  width: 400px;
  height: 400px;
  display: grid;
  grid-gap: 1px;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-area: gameboard;
}

.gameboard-cell {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 100;
}

.gameboard-cell.clickable {
  cursor: pointer;
}

.names {
  display: flex;
  justify-content: space-between;
}

.names > div {
  display: flex;
  flex-direction: column;
}

.player-select {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.player-one-settings {
  grid-area: p1settings;
}

.p1-winnings,
.p2-winnings {
  padding: 1rem;
  min-height: 4rem;
  display: flex;
  flex-wrap: wrap;
}
.trophy-icon {
  height: 2rem;
  width: 2rem;
}

@media screen and (max-width: 992px) {
  .game {
    grid-template-areas:
      "p1settings p2settings"
      "gameboard gameboard"
      "buttons buttons";
    grid-template-rows: auto;
  }
  .gameboard {
    justify-self: center;
  }
}
